*.o
prog
*.dat
g10000000.29999959.edg
*.trace/
*.dtps/
*.prof
A2/subtour
A2/bak
subtour
subtour.lp
edge_deletion
subtour.exe
*.sublime-workspace
*.sublime-project
project/Makefile
project/paper/co759paper.aux

project/paper/co759paper.log

project/paper/co759paper.pdf

project/paper/co759paper.synctex.gz

project/paper/co759paper.toc
